
body {
    background-color: #111111;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.svg-canvas {
    background-color: #111111;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    /*shape-rendering:crispEdges; /* Makes the lines look pixely*/

    --color_1: #080808;
    --color_2: #111111;
    --color_3: #333333;
    --color_4: #555555;
    --color_5: #AAAAAA;
    --color_6: #FFFFFF;
}

.user-area {
    position: absolute;
    top: 42px;
    left: 310px;
    width: calc(100% - 310px);
    height: 100vh;
    overflow:hidden;
}


.svg-overlay {
    background-color: rgba(0,0,0,0);
    padding: 5px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 25%;
    user-select: none;
    pointer-events: none;
}

.svg-over-txt {
    fill: rgb(200,0,0);
    pointer-events: none;
    user-select: none;
}

.svg-thing {
    pointer-events: none;
    user-select: none;
}

.side-bar {
    background-color: #333333;
    padding: 2px;
    margin: 0px;
    width:300px;
    height: 100vh;
    top:20px;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    border-right: 5px solid #666666;
}

.search-bar {
    background-color: #333333;
    color: #C0C0C0;
    padding:2px;
    margin: 0px;
    width:90%;
    height:40px;
    
    position: absolute;

    left:8px;
    top:8px;
    font-size: 20px;
}

.search-bar:hover {
    background-color: #666666;
}

.catagory-list {
    height:150px;
    max-height:30%;
    min-height:20px;

    position: absolute;
    top: 70px;
    left: 8px;
    width: 95%;
    overflow: scroll;
    margin: 0;
    padding: 0;
  
    border: 2px solid #ccc;
  
    font-size: 14px;
    text-align: center;
}

.catagory-item {
    background-color: #555555;

    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}
.catagory-item:hover {
    background-color: #888888;
}

.svg-item-list {
    position: absolute;
    top: 250px;
    left: 8px;
    width: 95%;
    height: 550px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    border: 2px solid #ccc;
    list-style-type: none;

    display: grid;
    gap: 55px 55px;
    grid-template-columns: 10px 10px 10px 10px;
    grid-template-rows: repeat(auto-fill, 10px);
}

.svg-item {
    background-color: #555555;
    padding: 5px 5px;
    max-width: 50px;
    max-height:50px;
    display: block;
    shape-rendering:crispEdges;
}

.svg-item:hover {
    background-color: #AAAAAA;
}

.menu-bar {
    position: absolute;
    background-color: #666;
    width: 100%;
    left: 0px;
    height: 20px;
    border-bottom: 2px solid #666;
}

.menu-item {
    background-color: #666666;
    height: 100%;
}
.menu-item:hover {
    background-color: #AAAAAA;
}

.tab-bar {
    position: absolute;
    background-color: #999;
    height: 40px;
    width: calc(100% - 310px);
    top:20px;
    left: 310px;
    border-bottom: 2px solid #666;
    font-size: 0;
    overflow-x:scroll;
    overflow-y:hidden;
    white-space: nowrap;
}

.tab-button, .tab-button-selected {
    font-size: 12px;
    background-color: #999;
    height: 20px;
    border: none;
    border-top: 2px solid #444;
    border-right: 2px solid #444;
    display: inline-block;
}
.tab-button:hover {
    background-color: #DDD;
}
.tab-button-selected {
    background-color: #ffbe00;
}

.footer-bar {
    position: absolute;
    background-color: #666;
    width: 100%;
    left: 0px;
    height: 20px;
    bottom: 0px;
    border-top: 2px solid #666;
}

.footer-text {
    position: relative;
    width: 100%;
    top:-18px;
    text-align: center;
    color: #DDD;
}
